/* Font family imported from google fonts */
@import url('https://fonts.googleapis.com/css2?family=Concert+One&family=Roboto:wght@400&display=swap');
body{
    font-size: 16px;
    font-family: Roboto, Helvetica, sans-serif;
    background-color: #FFFEF7;
}
/* Headings */
h1, h2, h3{
    font-family:"Concert One", cursive, serif;
}
.subtitles{
    font-family:"Concert One", cursive, serif;
    color: #FFEE88;
    text-align: center;
}
/* Basic styles */
header, footer{
    background-color: #507C47;
    color: #FFFEF7;
    box-shadow: 0 0 9px rgba(0, 126, 167, 1);
}

/* Header styles */
.chamberContainer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: .8rem;

}

.banner{
    display: none;
    background-color: rgba(0, 126, 167, 1);
    color: #FFEE88;
    text-align: center;
    font-size: .7rem;
    box-shadow: 1px 1px 9px rgb(50, 255, 200);
    padding: .5rem;
}
.hLogo{
    width: 65px;
    min-height: 65px;   
}
.logoContainer img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 100%;
    
}
.websiteNameContainer{
    margin-right: auto;
    padding: .5rem;
    
}
.primaryTitle{
    font-size: 1.4rem;
    margin-bottom: 0;
}
.secondaryTitle{
    font-size: .7rem;
    margin-top: 0;
}

.socialMedia{
    display: flex;
    align-items: center;
   
}
.socialMedia > div{
    padding: .2rem;
   
}
.socialMedia img{
    width: 20px;
}
div button{
    width: 29px;
    font-size: 2rem;
    background-color: transparent;
    border: none;
    color: #FFFEF7;
    margin-top: -.4rem;
}
.dateContainer{
    display: block;
    color: #FFEE88;
    padding: 1px;
    background-color: rgba(100, 200, 80, .55);
    font-size: .65rem;
    margin: 0 .7rem;
    text-align: center;
    box-shadow: 0 0 9px rgba(0, 126, 167, 1);
}
.navContainer{
    margin: 0 .7rem;
    font-size: .75rem;
    background-color: #007EA7;
}
nav ul{
    display: none;
    list-style-type: none;
    padding: 0;
    margin: 0;
    
}
nav ul.active{
    display: block;
    
}

#hamburgerBtn span:nth-child(1){
    display: block;
    
}
#hamburgerBtn span:nth-child(2){
    display: none;
    
}

#hamburgerBtn.active span:nth-child(1) {
    display: none;
    
}
#hamburgerBtn.active span:nth-child(2) {
    display: block;
    
}

nav ul li a{
    font-family:"Concert One", cursive, serif;
    display: block;
    text-decoration: none;
    padding: .6rem 1rem;
    text-align: center;
    color: #FFFEF7;

}
nav ul li a:hover{
    color: #007EA7;
    background-color: rgb(239, 244, 199);
    transition: 1s;
}

/* Main styles */
main{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-gap: .7rem;
    padding: 1rem; 
}
.sectionStyles{
    background-color: rgba(0, 126, 167, .9);
    border: 2px solid #FFEE88;
    border-radius: 5px;
    min-height: 150px;
    color: white;
    font-size: 1rem;
    text-align: justify;
    padding: 1rem;
}

#heroContainer{
    border: none;
    display: flex;
    justify-content: center; 
    align-items: center; 
    position: relative;
    box-shadow: 0 1px 12px #007EA7;
    padding: 0;
}
#heroContainer img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 5px;
}
.heroTitle{
  position: absolute;  
  top: 10%;
  color: #FFEE88;
  font-size: 1.5rem;
  text-align: center;
  text-shadow: -2px -2px 2px #007ea7e6, 2px -2px 2px #007ea7e6, -2px 2px 2px #007ea7e6, 2px 2px 2px #007ea7e6; 
}
.mainButtons{
    position: absolute;
    bottom: 8%;
    right: 6%;
    text-decoration: none;
    font-size: .9rem;
    background-color: #007EA7;
    padding: .8rem;
    /* border: black solid 2px; */
    border-radius: 10px;
    color: white;
    box-shadow: -2px -2px 2px #FFEE88, 2px -2px 2px #FFEE88, -2px 2px 2px #FFEE88, 2px 2px 2px #FFEE88;
    font-family:"Concert One", cursive, serif;
}
#heroContainer a:hover{
    font-size: 3.5vw;
    transition: 1s;
}

#joinContainer{
    display: none;
}
#spotsContainer{
    display: grid;
}
#spotsContainerGrid{
    display: grid;
}
.spot1, .spot2, .spot3{
    border: 1px solid white;
}
.spot3{
    display: none;
}
.eventGridContainer{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: .8rem;
    position: relative;
}
#golfImg{
    width: 100%;
    height: 100%;
    object-fit: cover;
    box-shadow: -2px -2px 2px #FFEE88, 2px -2px 2px #FFEE88, -2px 2px 2px #FFEE88, 2px 2px 2px #FFEE88;
}
.popLinks a{
    color: white;
    text-shadow: -2px -2px 2px #007ea7e6, 2px -2px 2px #007ea7e6, -2px 2px 2px #007ea7e6, 2px 2px 2px #007ea7e6; 
    text-decoration: none;
    font-size: 1.2rem;
    position: absolute;
    bottom: 20px;
    right: 13px;
}
.popLinks a:hover{
    color: #FFEE88;
    font-size: 1.3rem;
    transition: 1s;
    font-family:"Concert One", cursive, serif;
}
.weatherImg img{
    display: block;
    margin: 0 auto; 
    border-radius: 50%;
    border: 5px solid #FFEE88;
    margin-bottom: 1rem;
}

/* Footer styles */

footer{
    font-size: .65rem;
    text-align: center;
    padding: 1.5rem;
}
.fLogo{
    display: block;
    margin: 0 auto;
    width: 150px;
    height: 150px;   
}

.contactContainer a{
    color: #FFFEF7;
}
.contactContainer a:hover{
    color: #FFEE88;
}
