@media only screen and (min-width: 32.5rem){
    /* Header styles */
    .banner{
        font-size: 1rem;
    }
    .hLogo{
        width: 100px;
        height: 100px;   
    }
    .primaryTitle{
        font-size: 1.8rem;
    }
    .secondaryTitle{
        font-size: 1rem;
    }
    .socialMedia img{
        width: 29px;
    }
    .dateContainer{
        font-size: .75rem;
    }
    .navContainer{
        font-size: .85rem;
    }
    /* Main Styles */
    main{
        display: grid;
        grid-template-columns: repeat(3, 1fr); 
    }
    .sectionStyles{
        font-size: 1.3rem;
    }
    #heroContainer{
        grid-column: 1/-1; 
    }
    .heroTitle{
       font-size: 3rem; 
    }
    .mainButtons{
        font-size: 1.5rem;
    }
    #newsReLeaseContainer{
        grid-column: 1/-1;
        grid-row: 2/3;
    }
    #spotsContainer{
        grid-column: 1/-1; 
        grid-row: 3/4;
    }
    #spotsContainerGrid{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 1rem;
    }
    /* .spot1, .spot2{
        border: 1px solid white;
    } */
    #joinContainer{
        display: grid;
        grid-column: 1/-1;
        grid-row: 4/5;
        position: relative;
    }
 
    .joinTeamButton a{
        color: #FFEE88;
        bottom: 35px;
        right: 58px;
    }
    .joinTeamButton a:hover{
        transition: 2s;
    }
    
    #eventContainer{
        grid-column: span 2;
      
    }
    #weatherContainer{
        grid-column: span 1;
    }
    .tempertureValue{
        font-size: 1.5rem;
    }
    /* Footer Styles */
    .footerInfo{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .chamberAddress{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .webSiteNameFooter{
        text-align: left;
        margin-left: .7rem;
    }
    .footFlex{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .fLogo{
        width: 140px;
        height: 140px;   
    }
    footer{
        font-size: .75rem;
    }
}